# Loại bỏ thư mục chứa các gói NuGet
**/bin/
**/obj/

# Loại bỏ các file cấu hình local, nếu có
*.user
*.suo

# Loại bỏ các file log, temp
*.log
tmp/

# Loại bỏ thư mục .git (nếu không cần)
.git
.gitignore

# Loại bỏ file Dockerfile và docker-compose.yml nếu bạn không muốn gửi chúng lên image (tùy chọn)
#Dockerfile
#docker-compose.yml

# Loại bỏ các file cấu hình IDE
.vscode/
.idea/
